@import url('https://fonts.cdnfonts.com/css/sporting-grotesque');

html {
    box-sizing: border-box;
}
  
body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: #FFF;
}
  
a {
    text-decoration: none !important;
    cursor: pointer;
}
  
h5 {
    color: #ffffff;
}
    
img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
  
li {
    color: #637381;
    font-weight: 400;
    font-size: 14px;
}

.category-heading {
    font-family: Sporting Grotesque;
    font-size: 46px;
    font-weight: 400;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
}

/* paragraphn text, healthy-tips-learn more */
.text-1 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* healthytips-heading */
.text-2 {
    color: white;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* imageheading-heading ,programs-head, testimonial-user name*/
.text-3 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* imageheading-text */
.text-4 {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

/* brands, learn more button */
.text-5 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.works-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
}

.footer-text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.footer-text-head {
    font-family: Sporting Grotesque;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.blue-button {
    background-color: #264373;
    color: #FFFFFF;
    width: 246px;
    height: 56px;
    border-radius: 10px;
}

/* navbar starts */
.logoFirstPart{
    background-color: #6765F0;
    color: #FFF;
    font-family: Sporting Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 10px;
    padding: 5px;
}

.logoSecondPart{
    color: #6765F0;
    font-family: Sporting Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5px;
}

.navItems{
    color: #000;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.loginButton{
    width: 114px;
    height: 50px;
    border-radius: 10px;
    background-color: #264373;
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}
/* navbar ends */

@media screen and (min-width: 1024px) {
    .containerPadding{
        padding: 10px 50px 0px 50px;
    }
    .dailyWorkoutConrentDiv{
        padding-right: 150px;
        padding-left: 210px;
    }
    .dailyImageMargin{
        margin-left: 0px;
        padding-left: 120px;
    }
    .navList{
        gap: 30px;
    }
    .imageMargin{
        text-align: center;
    }
    .customHeading{
        padding-top: 80px;
    }
    .bestWorkoutConrentDiv{
        padding-right: 230px;
        padding-left: 100px;
    }
  }

  @media screen and (max-width: 820px) {
    .loginButton{
        width: 100px;
        height: 35px;
    }
    .category-heading{
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
    }
    .bestWorkoutConrentDiv{
        padding-right: 60px;
    }
    .dailyWorkoutConrentDiv{
        padding-left: 60px;
        padding-right: 30px;
    }
    .dailyImageMargin{
        margin-left: -15px;
    }
    .text-1{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .blue-button{
        font-size: 14px;
        width: 145px;
        height: 40px;
    }
    .rightArrown{
        height: 20px;
    }

  }

  @media screen and (max-width: 414px) {
    .loginButton{
        width: 100px;
        height: 35px;
    }
    .dailyWorkoutConrentDiv{
        padding: 10px;
    }
    .imageMargin{
        padding-top: 30px;
        margin-left: -15px;
    }
    .dailyImageMargin{
        padding-top: 10px;
        margin-left: -10px;
    
    }
    .bestWorkoutConrentDiv{
        padding: 10px;
    }
    .logoFirstPart{
        font-size: 16px;
    }
    .logoSecondPart{
        font-size: 16px;  
    }
    .category-heading{
        font-size: 30px;
        font-weight: 400;
        line-height: 40px;
    }
    .text-1{
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .blue-button{
        font-size: 13px;
    }


  }
